<footer>
  <p class="pull-right"><%= link_to 'Back to Top', '#' %></p>
  <p>Designed and built with all the love in the world by <%= link_to '@damireh', 'http://www.twitter.com/damireh', target: '_blank' %></p>
  <p>Code licensed under the <%= link_to 'Apache License v2.0', 'http://www.apache.org/licenses/LICENSE-2.0', target: '_blank' %>. Documentation licensed under <%= link_to 'CC BY 3.0', 'http://creativecommons.org/licenses/by/3.0/', target: '_blank' %>.</p>
  <p>Icons from <%= link_to 'Glyphicons Free', 'http://glyphicons.com/', target: '_blank' %>, licensed under <%= link_to 'CC BY 3.0', 'http://creativecommons.org/licenses/by/3.0/', target: '_blank' %>.</p>
</footer>
