<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= params[:controller].parameterize %>" class="<%= params[:action] %>">
    <div class="container">
      <%= render 'layouts/header' %>

      <div id="main" role="main">
        <%= render 'shared/alerts' %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
