<div class="page-header">
  <h3>Listing <%= plural_table_name %></h3>  
</div>

<table class="table table-striped table-condensed table-hover">
  <tr>
<% attributes.each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th>Actions</th>
  </tr>

  <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
<% attributes.each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to 'Show', <%= singular_table_name %> %> | <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %> | <%%= link_to 'Delete', <%= singular_table_name %>, data: { confirm: 'Are you sure?' }, method: :delete %></td>
  <%% end %>
</table>

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, class: "btn btn-inverse" %>
